@section Styles {
    <style>

    </style>
}

<div class="container mt-5">
    <div class="card container">
        <div class="card-body">
            <div class="col-xl-11 col-lg-10 col-md-9 col-12 ">
                <div class="row align-items-center mt-5">
                    <div class="col-md-2 col-xxl-1">
                        <label for="inputFileId" class="col-form-label ">檔案ID</label>
                    </div>
                    <div class="col-md-8 col-xxl-9  mt-0 mt-md-3">
                        <input type="text" id="inputFileId" class="form-control" aria-describedby="inputFileId">
                    </div>
                    <div class="col-md-2 col-xxl-2">
                        <button id="btnDownload" class="btn btn-primary">下載</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(async () => {
            $(document).on('click', '#btnDownload', async function (e) {
                var id = $('#inputFileId').val();
                if (id === null || id === undefined || id.length === 0) {
                    alert('請輸入檔案ID');
                    return;
                }

                const blob = await downloadBlob('get', `/Streaming/Download/${id}`, null);
                console.log(blob)
                if (blob.status == 200) {
                    const fileName = `可自訂名稱.png`;
                    const link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob.body);
                    link.download = fileName;
                    link.click();
                    window.URL.revokeObjectURL(link.href);
                }
                else {
                    alert('下載檔案發生錯誤');
                }
            });
        });

        async function downloadBlob(method, url, data) {
            try {
                method = method || 'post';
                let settings = {
                    method: method,
                    body: data,
                };
                const fetchResponse = await fetch(`${url}`, settings).then(r => r.blob().then(data => ({ status: r.status, body: data })));
                return fetchResponse;
            } catch (e) {
                console.log(e)
                return e;
            }
        }
    </script>
}